@import './../../../styling/variables.scss';

.to-do {
  &__title {
    color: $white;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    margin-right: 10px;

    &-wrapper {
      padding-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__add {
    border: 1px solid $mist;
    background-color: $mist;
    font-size: 18px;
    color: $reef;
    border-radius: 16px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    list-style: none;
    padding-left: 0;

    &-item {
      display: flex;
      padding: 8px;
      background-image: linear-gradient(to left, $reef, $mist);
      border-radius: 16px;
      margin: 12px 0;


      &--completed-button {
        padding: 6px;
        border-radius: 12px;
        border: none;
        background: $teal;
        margin-right: 8px;
      }

      &--delete-button {
        background: none;
        border: none;
        font-size: 22px;
        color: $white;
        margin: 0 16px 0 auto;
      }
    }

    &-fieldset {
      border: none;
      display: flex;
      align-items: center;
      padding: 4px 8px;
      background-color: transparent;
  
      input {
        font-size: 16px;
        font-family: $bebas;
        text-transform: capitalize;
      }
    }
  }



  input {
    color: $white;
    border: none;
    background-color: transparent;
    font-family: $bebas;
  }

  ::placeholder {
    color: $highlight;
    font-family: $bebas;
    text-transform: capitalize;
  }

  input[type='text'] {
    margin-left: -10px;
    flex-wrap: wrap;
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: $highlight;
    border: none;
    margin-right: 9px;
  }

  input[type='checkbox']:checked {
    background: $reef;
  }
}
