@import './../../../styling/variables.scss';

.to-do {
  &__title {
    color: $light-green;
    font-size: 25px;
    align-items: center;

    &-wrapper {
      border-bottom: 1px solid $light-green;
      padding-bottom: 12px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__add {
    border: 1px solid $yellow;
    background-color: $yellow;
    font-size: 20px;
    color: $white;
    border-radius: 16px;
    width: 25px;
    height: 25px;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    background-color: $aqua;
    border-radius: 6px;
    box-shadow: 1px 2px 5px $grey;

    &-item {
      display: flex;
      padding: 8px;
      border-top: 2px solid $white;

      &--completed-button {
        padding: 6px;
        border-radius: 12px;
        border: none;
        background: white;
        margin-right: 8px;
      }

      &--delete-button {
        background: none;
        border: none;
        font-size: 22px;
        color: $white;
        margin: 0 16px 0 auto;
      }
    }
  }

  fieldset {
    border: none;
    display: flex;
    align-items: center;
    padding: 4px 8px;

    input {
      font-size: 18px;
      font-family: $garamond;
      text-transform: capitalize;
    }
  }

  input {
    color: $dark-green;
    border: none;
    background-color: transparent;
  }

  ::placeholder {
    color: $dark-green;
    font-family: $garamond;
    text-transform: capitalize;
  }

  input[type='text'] {
    margin-left: -10px;
    flex-wrap: wrap;
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: $white;
    border: none;
    margin-right: 9px;
  }

  input[type='checkbox']:checked {
    background: $yellow;
  }
}
