@import './../../../../../styling/variables.scss';

.meal-modal {
  min-width: 300px;
  max-height: 250px;
  background-color: $mist;

  &__title {
    font-size: 25px;
    padding: 8px;
    color: $reef;
    margin-bottom: 20px;
  }

  textarea {
    height: 50px;
    text-align: start;
    margin: 0;
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    font-family: $bebas;
    color: $reef;
  }

  &__btn, &__btn-delete, &__btn-update {
    border: none;
    border-radius: 12px;
    background-color: $reef;
    color: $white;
    font-size: 18px;
    padding: 4px 70px;
    margin-top: 8px;

    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__btn-update {
    margin-left: 120px;
  }

  &__btn-delete {
    margin-left: 50px;
    position: relative;
    bottom: 34px;
  }
}

fieldset,
textarea {
  background-color: $highlight;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 14px;
  color: $reef;
}

input {
  font-size: 18px;
  font-family: $bebas;
  color: $reef;
}