@import './../../../../styling/variables.scss';

.mood {
  &__title {
    color: $reef;
    font-size: 25px;
    align-items: center;
    text-align: center;
    padding-bottom: 12px;
  }

  &__scores {
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
  }

  &__score,
  &__score-active {
    color: $reef;
    font-size: 22px;
    font-family: $bebas;
    background-color: $highlight;
    border: 1px solid $highlight;
    border-radius: 16px;
    padding: 0 12px;
    height: 35px;

    &-active {
      background-color: $reef;
      border: 1px solid $reef;
      color: $white;
    }
  }

  &__notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    textarea {
      font-family: $bebas;
      color: $reef;
      font-size: 20px;
      border: 1px solid $highlight;
      padding: 12px;
      width: 90%;
      height: 85px;
    }
  }

  ::placeholder {
    color: $reef;
    font-size: 20px;
  }
}
