@import './../../../../styling/variables.scss';

.meals {
  display: flex;
  flex-direction: column;
  font-family: $bebas;
  padding-bottom: 20px;

  &__title {
    color: $reef;
    font-size: 25px;
    padding-bottom: 12px;
    text-align: center;
  }

  &__add {
    border: 1px solid $reef;
    background-color: $reef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $white;
    border-radius: 16px;
    width: 20px;
    height: 20px;
    margin-left: 7px;
  }

  &__list {
    list-style: disc;
    padding-left: 0;
    background-color: transparent;
    border-radius: 6px;
  }

  &__meal {
    display: flex;
    align-items: center;
    padding: 8px;

    &-edit {
      border: 1px solid $reef;
      background-color: $reef;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: $white;
      border-radius: 16px;
      width: 20px;
      height: 20px;
      margin-right: 12px;
    }

    &-name {
      margin: 8px 16px;
      color: $reef;
      font-size: 20px;
    }
  }

  fieldset {
    border: none;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    margin: 0;

    input {
      font-size: 18px;
      text-transform: capitalize;
    }
  }

  input {
    border: none;
    background-color: transparent;
  }

  input[type='text'] {
    color: $reef;
    flex-wrap: wrap;
    font-size: 20px;
  }

  ::placeholder {
    color: $reef;
    font-size: 20px;
    text-transform: capitalize;
  }
}

.meal-modal {
  fieldset {
    margin: 12px auto;
  }

  input[type='text'] {
    color: $reef;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 8px 0;
    text-transform: none;
    width: 100%;
  }

  ::placeholder {
    font-size: 20px;
    color: $reef;
  }
}
