@import './../../../styling/variables.scss';

.activities {
  display: flex;
  flex-direction: column;
  color: $light-green;

  &__title {
    font-size: 25px;

    &-wrapper {
      border-bottom: 1px solid $light-green;
      padding-bottom: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    background-color: $aqua;
    border-radius: 6px;
    box-shadow: 1px 2px 5px $grey;

    &-item {
      display: flex;
      align-items: center;
      padding: 8px;
      border-top: 2px solid $white;

      &--delete-button {
        border: 1px solid $yellow;
        background-color: $yellow;
        font-size: 20px;
        color: $white;
        border-radius: 16px;
        width: 20px;
        height: 20px;
        margin-right: 16px;
        display: flex;
        align-items: center;
      }
    }
  }

  fieldset {
    border: none;
    display: flex;
    align-items: center;
    padding: 4px 8px;

    input {
      font-size: 16px;
      font-family: $garamond;
      text-transform: capitalize;
    }
  }

  input {
    color: $dark-green;
    border: none;
    background-color: transparent;
  }

  ::placeholder {
    color: $white;
    font-family: $garamond;
    text-transform: capitalize;
  }

  input[type='text'] {
    margin-left: -10px;
    flex-wrap: wrap;
  }

  // &__activity {
  //   display: flex;
  //   align-items: center;
  //   text-transform: capitalize;
  //   width: 100%;
  //   border-bottom: 1px solid $aqua;

  //   &-edit {
  //     border: 1px solid $yellow;
  //     background-color: $yellow;
  //     font-size: 20px;
  //     color: $white;
  //     border-radius: 16px;
  //     width: 20px;
  //     height: 20px;
  //     margin-right: 20px;
  //     display: flex;
  //     align-items: center;
  //   }
  // }
}
