@import './../../../../styling/variables.scss';

.activity-modal {
  min-width: 300px;

  &__title {
    font-size: 20px;
    padding: 8px;
    color: $light-green;
  }

  textarea {
    height: 50px;
    text-align: start;
    margin: 0;
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    font-family: $garamond;
    color: $dark-green;
  }

  &__submit {
    border: none;
    border-radius: 12px;
    background-color: $yellow;
    color: $white;
    font-size: 16px;
    padding: 4px 20px;
    margin-top: 8px;
    width: 100%;
  }
}

fieldset,
textarea {
  background-color: $aqua;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 14px;
}

input {
  font-size: 18px;
  font-family: $garamond;
}
