@import './../../../styling/variables.scss';

.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  background-color: $white;


  &__wrapper {
    display: flex;
    padding: 18px;
    background-color: $dark-green;
    color: white;
    top: 0;
    font-size: 20px;
    box-shadow: 1px 2px 5px grey;
  }

  &__date {
    top: 200px;
    font-size: 35px;
    font-style: italic;
    text-align: center;
    color: $light-green;
    padding: 18px 0 12px;
  }

  &__daisy {
    width: 26px;
    height: 26px;
  }

  &__welcome {
    margin-left: 16px;
  }

  &__menu {
    background: none;
    border: none;
    margin-left: auto;
  }
}
