@import './../../../styling/variables.scss';

.nav-bar {
  text-align: center;
  font-family: 'Bebas Neue';
  font-weight: bold;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: $white;
    top: 0;
    font-size: 28px;
  }

  &__date {
    top: 200px;
    font-size: 20px;
    font-style: italic;
    color: $white;
    padding: 18px;
    border-bottom: 1px solid $white;
    width: fit-content;
  }

  &__title {
    text-transform: uppercase;
  }
}
