@import './../../../styling/variables.scss';

.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  background-color: $white;


  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $dark-green;
    color: white;
    top: 0;
    font-size: 22px;
    font-style: italic;
    box-shadow: 1px 2px 5px grey;
  }

  &__date {
    top: 200px;
    font-size: 35px;
    font-style: italic;
    text-align: center;
    color: $light-green;
    padding: 18px 0 12px;
  }

  &__daisy {
    width: 40px;
    height: 40px;
  }

  &__welcome {
    text-transform: uppercase;
  }

  &__menu {
    background: none;
    border: none;

    img {
      height: 30px;
    }
  }
}
