@import './../../../../styling/variables.scss';

.activities {
  display: flex;
  flex-direction: column;
  color: $reef;

  &__title {
    font-size: 25px;

    &-wrapper {
      padding-bottom: 12px;
      display: flex;
      justify-content: center;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    border-radius: 6px;

    &-item {
      display: flex;
      align-items: center;
      padding: 8px;

      &--delete-button {
        border: 1px solid $reef;
        background-color: $reef;
        font-size: 20px;
        color: $white;
        border-radius: 16px;
        width: 20px;
        height: 20px;
        margin-right: 16px;
        display: flex;
        align-items: center;
      }
    }
  }

  &__add {
    border: 1px solid $reef;
    background-color: $reef;
    font-size: 20px;
    color: $highlight;
    border-radius: 16px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
  }

  fieldset {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid $reef;

    input {
      font-size: 20px;
      text-transform: capitalize;
    }
  }

  input {
    color: $reef;
    font-size: 20px;
    border: none;
    background-color: transparent;
  }

  ::placeholder {
    color: $reef;
    text-transform: capitalize;
  }

  input[type='text'] {
    margin-left: -10px;
    flex-wrap: wrap;
  }
}
