$dark-green: #02862A;
$light-green: #87C478;
$grey: #DDE4DB;
$dark-grey: #555555;
$aqua: #B8DAD8;
$yellow: #FAD72A;
$white: #FFFFFF;

$railway: 'Raleway', sans-serif;
$tangerine: 'Tangerine', cursive;
$garamond: 'EB Garamond', serif;