@import './../../../styling/variables.scss';

.actions {
  margin-top: 12px;

  &__icons {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 20px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  &__icon {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__display-component {
    background-image: linear-gradient(
      to bottom,
      $mist,
      $reef 250%
    );
    border-top: 1px solid $mist;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    max-width: 100%;
    min-height: 150px;
    padding: 20px;
  }
}
