@import './../../../styling/variables.scss';

.goals {
  padding: 25px;

  &__title {
    color: $light-green;
    font-size: 25px;
    border-bottom: 1px solid $light-green;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }

  &__wrapper {
    width: 100%;
  }

  button[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid $aqua;
    background: $white;
    font-size: 18px;
    border-radius: 16px;
    padding: 1px 6px;
    height: 14px;
  }

  button[type='checkbox']:checked {
    border: 1px solid $yellow;
    background: $yellow;
  }

  table {
    width: 100%;
    padding: 16px 0;
    font-family: Georgia, serif;
  }

  thead, tbody, tr {
    display: table;
    width: 100%;
  }

  tr {
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: $light-green;
    text-transform: capitalize;
    margin: 4px 0;
  }

  td {
    width: 10%;

    &:first-child {
      width: 35%;
    }
  }

  th {
    font-size: 18px;
    font-weight: 500;
    color: $light-green;
    width: 10%;


    &:first-child {
      width: 35%;
      text-align: left;
    }
  }
}
