@import './../../../styling/variables.scss';

.goals {
display: flex;
justify-content: center;
padding: 20px;
margin-bottom: 30px;


  &__title {
    color: $reef;
    font-size: 18px;
    font-weight: bold;
    font-family: $bebas;
  }

  &__wrapper {
    background-color: $mist;
    border: 1px solid $mist;
    border-radius: 20px;
    width: 100%;
    padding: 12px;
  }

  button[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid $reef;
    background: transparent;
    font-size: 18px;
    border-radius: 16px;
    padding: 1px 6px;
    height: 14px;
  }

  button[type='checkbox']:checked {
    border: 1px solid $teal;
    background: $teal;
  }

  table {
    width: 100%;
    padding: 16px 0;
    font-family: Georgia, serif;
  }

  thead, tbody, tr {
    display: table;
    width: 100%;
  }

  tr {
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: $reef;
    text-transform: capitalize;
    margin: 4px 0;
  }

  td {
    width: 8%;

    &:first-child {
      width: 37%;
      padding-right: 6px;
    }
  }

  th {
    font-size: 18px;
    font-weight: 500;
    color: $reef;
    width: 8%;


    &:first-child {
      width: 37%;
      text-align: left;
    }
  }
}
